//- This file is editable and all changes will get copied into your template files
//- when 'gulp scaffold' is run
//- Please check out the Jade Language References at the following URL
//- http://jade-lang.com/reference/doctype/
//- Tabs are very important in Jade!
//- If your editor has a 'view special characters' option - enable it!

//- The following are replaced in your actual templates

//- Project 		#{title}
//- Version 		#{version}
//- Type 			#{type}
//- Type 			#{typeLowercase}
//- Variant 		#{variant}
//- Language 		#{language}
//- Width			#{width}
//- Height			#{height}

extends partials/base.jade

block content

	#variant.#{type}

		#first.frame
			header
				h1
				h2

			//- You can omit the src parameter if the asset is going to be dynamically added
			img.bg( src="img/jpg/bg_#{type}.png", width="#{width}", height="#{height}" )
			img#logo( src="img/png/logo_#{type}.png" )

		#second.frame

		#third.frame

		#fourth.frame

		#fifth.frame
			.cta
				a#button( title="Go", href='#' ) Call To Action

block scripts
	script(src="https://cdn.flashtalking.com/frameworks/js/gsap/1.17.0/plugins/CSSPlugin.min.js")
	script(src="https://cdn.flashtalking.com/frameworks/js/gsap/1.17.0/easing/EasePack.min.js")
	script(src="https://cdn.flashtalking.com/frameworks/js/gsap/1.17.0/TweenLite.min.js")
	script(src="http://cdn.flashtalking.com/frameworks/js/api/2/9/html5API.js")
