//- Project 		#{title}
//- Version 		#{version}
//- Type 			#{type}
extends partials/base.jade

//- This file is editable and all changes will get copied into your template files when gulp template is run
block main

	//-
		Please check out the Jade Language References at the following URL
		http://jade-lang.com/reference/doctype/
		Tabs are important in Jade
		
	#first
		h1
		h2
		img#bg( src="img/jpg/bg_#{type}.png", width="#{width}", height="#{height}" )
		img#logo( src="img/png/logo_#{type}.png" )
		
	#second

	#third

	#fourth

	#fifth
		#cta
			a#button( title="Go", href='#' ) Call To Action
