//- Project 		#{title}
//- Version 		#{version}
//- Type 		#{type}
extends partials/base.jade

//- This file is editable by 
block main

	#first
		h1
		h2
		img#bg( src="img/jpg/bg_#{type}.png", width="#{width}", height="#{height}" )
		img#logo( src="img/png/logo_#{type}.png" )
		
	#second

	#third

	#fourth

	#fifth
		#cta
			a#button( title="Go", href='#' ) Call To Action
