//- Project 		#{title}
//- Version 		#{version}
//- Type 			#{type}
//- Variant 		#{variant}
//- Width			#{width}
//- Height			#{height}

extends partials/base.jade
block main
    h1#heading <strong>Shop Online Now</strong> for a great deal on snacks
    h1#subheading The Freshest <strong>Best Quality Products</strong> for your order

    #awning
        img#logo( src="img/svg/logo.svg" )
        img.triangle( src="img/svg/awning.green.border.svg" )

    #product
        img#packshot( src="img/jpg/#{type}.product.jpg" )
        //- img.triangle( src="img/svg/awning.white.thin.svg" )
        img.triangle( src="img/svg/triangles.green.svg" )

    #cta
        a#button( title="Shop Now", href='#' ) Shop Now
